/*/ Timeline itself /*/
.timeline {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 100%;
    background-color: #0088ff; /* Choose whatever colour you'd like */
    border-radius: 3px;
    z-index: -1;
}

.timeline:after {
    content: " ";
    clear: both;
    display: block;
}

/*/ Years /*/
.timeline .year {
    position: relative;
    float: left;
    width: 100%;
}

.timeline .year .content {
    position: relative;
    margin: 2em auto 1em auto;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: white;
    background: #0088ff;
    font-size: 16pt;
    border-radius: 50%;
    cursor: pointer;

    transition: background .15s linear;
}

.timeline .year .content:hover {
    background: #22aaff;
}

.timeline .year:first-of-type .content {
    margin: 0 auto 1em auto;
}

/*/ Events /*/
.timeline .event {
    position: relative;
    margin: 10px 2.5%;
    padding: .5em;
    float: right;
    width: 45%;
    color: #4d4d4d;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    clear: right;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    transition: background .15s linear;
}

.timeline .event span.date{
    float: right;
    color: #666;
}

.timeline .event:nth-of-type(2n) {
    float: left;
    clear: left;
}

.timeline .event:hover {
    background: #f5f5f5;
}

/* To disable image overlapping */
.timeline .event img {
    width: 100%;
}


@media all and (min-width: 650px) {
    .timeline .event:after {
        content: ' ';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 5%;
        display: block;
        left: -5%;
        border-bottom: 2px dotted #0088ff;

        transition: border .15s linear;
    }

    .timeline .event:nth-of-type(2n):after {
        left: 100%;
        /*border-top: 16px solid transparent;*/
        /*border-left: 16px solid #ffffff;*/
        /*border-bottom: 16px solid transparent;*/
        /*border-right: 16px solid transparent;*/
    }

    .timeline .event:nth-of-type(2n) {
        margin-top: 2em;
    }
}

@media all and (max-width: 650px) {
    .timeline .event {
        width: 100%;
        margin: 10px 0;
    }
}